header{
    div{
        display: flex;
        justify-content: center;
        height: 120px;
        a{
            img{
                height: 100%;
            }
        }
    }
    nav{
        text-align: center;
        ul{
            li{
                display: inline-block;
                margin: 0.8rem;
                }
                a{
                    margin: 1rem;
            }
        }
    }
}
    main{
        div{
            margin-left: 70px;
            margin-right: 90px;
            display: grid;
            grid-template-columns: 1fr 0fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "section1 section3"
                                "section2 section3";
            .section1{
                grid-area: section1;
                margin: 1.25rem;
                margin-top: 3.125rem;
                margin-bottom: 0px;
 
            }
            .section2{
                grid-area: section2;
                margin-top: 0px;
                margin: 1.25rem;
                margin-bottom: 3.125rem;
                border: 1px solid black;
            }
            .section3{
                display: none;
            }
        }
    }
    @media only screen and (min-width:1024px){
        main{
            div{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-template-areas: "section1 section3"
                                    "section2 section3";
                .section1{

                }
                .section2{

                }
                .section3{
                    grid-area: section3;
                    display: block;
                    margin-top: 0px;
                    margin: 1.25rem;
                    margin-top: 3.125rem;
                    margin-bottom: 3.125rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }   
        }
    }

    footer{
        div{
            background-color: $color-menu;
        height: 50vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "sectionFooter1 sectionFooter1"
                            "sectionFooter3 sectionFooter3";
            .sectionFooter1{
                img{
    
                }
                p{
    
                }
            }
            
        }
    }


